# EditorConfig is awesome: https://EditorConfig.org
# EditorConfig 设置优先于全局文本编辑器设置。 https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

# top-most EditorConfig file
root = true

[*]
# 2 space indentation
# 缩进风格为 2 空格
indent_style = space
indent_size = tab
tab_width = 2

# Unix-style newlines with a newline ending every file
# 换行方式为 LF ，且每个文件末尾都有一新行
end_of_line = lf
insert_final_newline = true

# Set default charset
# 默认字符集 utf-8
charset = utf-8

# remove any whitespace characters preceding newline characters
# 去除换行符前（行尾）的空白符
trim_trailing_whitespace = true

# Markdown 文件不去除换行符前（行尾）的空白符，也不会在文件末尾添加新行
[*.md]
trim_trailing_whitespace = false
insert_final_newline = false

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
